.battleMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
  margin: 10px;
  grid-gap: 10px;
}

.battleMenu button {
  width: 100%;
  padding: 10px;
  font-size: 5vmin;
}
