.battleUX {
  position: absolute;
  top: 5px;
  width: 100%;
}

.healthBar {
  width: 100%;
  height: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.healthFiller {
  height: 4px;
  position: absolute;
}
